@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 100;
font-style: normal;
}
.card1 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
    
}
.card2 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
}
.card3 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
    
}
.card4 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
    
}
.card5 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
    
}
.card6 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
    
}.card7 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
    
}
.card8 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/9.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
    
}
.card9 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
    
}
.card10 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/11.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
    
}

.card11 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/12.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
    
}
.card12 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/13.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
    
}.card13 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/14.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
    
}
.card14 {
	display: inline-block;
	width: 300px;
	background-color: white;
	text-align: center;
	height: 300px;
    border: 5px solid black;
    background-image: url("img/15.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
    box-sizing: border-box;
    
}


.cards{
    width: 70%;
    margin: auto; 
    box-sizing: border-box;
    padding: 0;
}
img {
	width: 100%;
	border-radius: 5px 5px 0 0;
	vertical-align: top;
}
body {
	background-color: #ffffff;
	text-align: center;
    padding: 0;
    margin: 0;
}
h2 {
	text-align: center;
}
.button {
	background-color: rgb(174, 240, 196);
	text-decoration: none;
    color: #524f4e;
    border-radius: 45px;
    display: inline-block;
    width: 40%;
	font-size: 14px;
	vertical-align: text-bottom;
}
.menuitem {
	margin: 2%;
	font-size: 25px;
	text-decoration: none;
	color: #000000;
    vertical-align: middle;
	padding: 10px;
    display: inline-block; 
}
.menu {
	padding: 5px;
    width: 70%;
    height: 75px;
    vertical-align: middle;
    margin: auto;
    display: inline-block; 
}
.menu2{
	padding: 5px;
    width: 100%;
    height: 50px;
    vertical-align: middle;
    margin-bottom: 100pх;
    background-color: #950818;
    display: inline-block; 
}
.menuitem2 {
	margin: 0 2%;
	font-size: 25px;
	text-decoration: none;
	color: #ffffff;
    vertical-align: middle;
	padding: 10px;
    display: inline-block;
}
h2 {
	margin-top: 100px;
    display: inline-block;
	color: #ffffff;
	font-size: 70px;
}
.znakr {
	display: inline;
	vertical-align: super;
}
.kartinka {
    background-image: url("img/1.jpg");
    width: 1200px;
    height: 800px;
    margin: auto;
    background-repeat: no-repeat;
    
    background-position: center;
    
    background-size: cover;
    }
.Novinka{
    width: 100%;
    height: 800px;
    background-color: #950818; 
    color: #ffffff; 
    text-align: center;
    margin: 0;
}
.NLEVO {
    margin-left:15% ;
margin-top: 20 px;
width: 30%;
text-align: left;
display: inline-block ;
} 
.NBPRAVO {
    margin-left:5% ;
margin-top: 20 px;
width: 40%;
text-align: left;background-image: url("img/5.jpg");
display: inline-block ;
background-repeat: no-repeat;
height: 500px;
background-position: center;

background-size: cover;

}
    
